.chart-container {
  background-color: white;
  padding: 4rem;
  overflow-y: auto;
  flex: 1;
  h2{
    margin-bottom: 2rem;
  }
  > section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    // width: 80%;
    // margin: 4rem auto;
    
    > div {
      // max-width: 25rem;
      // margin: auto;
      // margin-top: 2rem;
      margin-bottom: 2rem;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.535);
      border-radius: 10px;
      padding: 10px 20px;
      > h2 {
        padding-top: 10px;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        color: rgba(6, 6, 6, 0.529);
      }
    }

  }
}
