.dashboard-product-box {
  background-color: white;
  padding: 2rem;
  overflow: auto;
  @include square(100%);
  height: 100vh;
  #tableConfirmed{
    color: lime;
  }
  #tableCancelled{
    color: red;
  }
}


.create-product-btn {
  position: fixed;
  right: 2rem;
  top: 2rem;
  @include square(2.5rem);
  @include flex(row, center, center, 0);
  border-radius: 50%;
  background-color: rgb(201, 9, 9);
  color: white;

  &:hover {
    opacity: 0.8;
  }
}

.product-management {
  @include flex(row, center, unset);
  padding: 2rem;

  > section {
    overflow-y: auto;
    width: 100%;
    height: 90vh;
    max-width: 500px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.216);
    background-color: white;
    // padding: 5rem;
    @include flex(column, unset, unset, 1rem);
    position: relative;
    border-radius: 5px;

    > h2 {
      @include heading(2px);
      text-align: center;
    }

    > img {
      @include square(100%);
      object-fit: cover;
    }

    > .image-container {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      position: absolute;
      background-color: white;
      padding: 0.5rem 0.8rem;
      bottom: 0;
      width: 100%;
      font-size: 1.3rem;
    }

    > strong {
      font-weight: 500;
      position: absolute;
      background-color: white;
      padding: 0.5rem;
      border-radius: 0 0 0.5rem 0;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.216);
    }

    > span {
      position: absolute;
      right: 2rem;
      top: 2rem;
    }

    > p {
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    > h3 {
      text-align: center;
      font-size: 2rem;
    }
  }

  > article {
    padding: 1rem;
    width: 100%;
    height: 90vh;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.216);
    position: relative;

    > a {
      width: 100%;
      display: flex;
      justify-content: right;
      position: absolute;
      top: 15px;
      right: 15px;

      > svg {
        cursor: pointer;
        font-size: 30px;
        color: rgb(201, 9, 9);
      }
    }

    > form {
      @include flex(column, unset, center, 2rem);

      > h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      > img {
        @include square(5rem);
        object-fit: cover;
        border-radius: 5px;
      }

      > div {
        width: 100%;
        position: relative;

        > label {
          position: absolute;
          left: 0;
          top: -1.5rem;
          font-size: 14px;
        }

        > input {
          @include inputStyle(100%, 4px 10px, unset, 1px solid rgba(13, 13, 13, 0.196));
          border-radius: 5px;
        }

        > textarea {
          @include inputStyle(100%, 4px 10px, unset, 1px solid rgba(13, 13, 13, 0.196));
          border-radius: 5px;
        }
      }

      > #dropDowns {
        display: flex;
        justify-content: space-around;

        > div {
          flex: 1;

          label {
            font-size: 14px;
          }
        }
      }

      > button,input[type="submit"] {
        padding: 0.5rem;
        border: none;
        color: white;
        width: 100%;
        border-radius: 5px;
        font-size: 1.1rem;
        cursor: pointer;
        background-color: rgb(5, 107, 224);
      }

      > .delete {
        background-color: rgb(224, 45, 5);
      }
    }
  }

  .shipping-info-card {
    > h1 {
      text-align: center;
      @include heading(2px);
    }

    > h5 {
      margin: 2rem 0 0 0.5rem;
      font-size: 1.1rem;
      font-weight: 700;
    }

    > p {
      margin: 0.5rem;
    }

    > button {
      margin: 2rem 0;
      padding: 1rem;
      border: none;
      background-color: rgb(5, 107, 224);
      color: white;
      width: 100%;
      border-radius: 5px;
      font-size: 1.1rem;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.transaction-product-card {
  @include flex(row, unset, center, 1rem);

  > img {
    @include square(4rem);
    object-fit: cover;
    border-radius: 5px;
  }

  > span {
    margin-left: auto;
  }
}
