@use "../abstracts/" as *;
// #ForgotPasswordPage {
//     min-height: 100vh;
//     overflow: scroll;
//     margin: 0;
//     flex-direction: column;

//   }

.forgot-password-form {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
  padding: 25px;
  border-radius: 5px;
  width: 420px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff;
  }
  #resendOTP {
    font-size: 10px;
    margin-top: -10px;
    margin-right: 4px;
    text-align: right;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 400;
    &:hover {
      color: #ecb014;
    }
  }

  #Enter-OTP{
    flex-direction: row;
    justify-content: space-evenly;
    // display: block;
    input{
      margin-top: 14px;
      width: 50px;
      aspect-ratio: 1;
      text-align: center;
    }
  }

  span {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 98%;
    gap: 5px;
    text-align: start;
    font-weight: bolder;
    margin-bottom: 15px;
    pre {
      font-size: 12px;
      cursor: pointer;
      margin-left: 5px;
      &:hover {
        color: #ecb014;
      }
    }
  }

  .instructions-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .instructions {
    text-align: left;
    margin: 0;
    color: #ffffff;
  }

  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  label {
    font-weight: bold;
    width: 300px;
  }

  input {
    width: 360px;
    padding: 8px;
    margin-top: 2px;
    border: none;
    font-weight: 600;

    &:focus {
      outline: 3px inset #ecb014;
    }

    border-radius: 3px;
    background-color: rgba(246, 240, 240, 0.1);
    border-color: #ecb014;
    margin-bottom: 15px;
    background-color: white;
  }

  input[type="submit"],
  .loading {
    background-color: #ecb014;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    border: 1px solid #ecb014;
    margin-top: 20px;
    text-align: center;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
  .loading {
    @include flexMixin();
    padding: 10px !important;
  }
  @media (max-width: 500px) {
    width: 350px;
    padding: 20px 10px;
    h1 {
      font-size: 35px;
    }
    .instructions-box {
      padding: 15px 5px;
    }
    .instructions {
      font-size: 14px;
      text-align: justify;
      text-align-last: center;
    }
    input {
      width: 330px;
    }
  }
  @media (max-width: 400px) {
    width: 300px;
    padding: 20px 10px;
    h1 {
      font-size: 30px;
    }
    .instructions {
      font-size: 12px;
    }
    div {
      width: 270px;
    }
    span {
      font-size: 12px;
    }
    input {
      width: 100%;
    }
  }
  #passwordValidation{
    width: 110%;
    // margin-left: -5%;
    font-size: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row !important;
    p{
      display: flex;
      align-items: center;
      gap: 5px;
      flex-basis: 50%;
      #no-validated{
        color: white;
      }
      #validated{
        color: green;
      }
    }

  }
}
