@use "../abstracts/" as *;

:where(.css-dev-only-do-not-override-6j9yrn).ant-rate .ant-rate-star-first,
:where(.css-dev-only-do-not-override-6j9yrn).ant-rate .ant-rate-star-second {
  color: #ffffff;
}

#Orders {
  position: relative;
  top: 68px;
  color: black;
  background-color: #f7e7dc;
  margin: 0 50px 150px 50px;
  min-height: calc(100vh - 118px);
  padding: 30px 60px;
  border-radius: 20px;

  // :where(.css-dev-only-do-not-override-6j9yrn).ant-rate .ant-rate-star-first, :where(.css-dev-only-do-not-override-6j9yrn).ant-rate .ant-rate-star-second{
  //   color: #15151545 !important;
  // }

  #order-wishlists {
    display: flex;
    margin-top: 30px;
    gap: 5px;

    h3 {
      width: 170px;
      text-align: center;
      padding-bottom: 2px;
      cursor: pointer;
    }

    #active {
      border-bottom: 3px solid #ecb014;
    }
  }

  .userNotLogin {
    margin-top: 25px !important;
    flex-direction: column !important;
    gap: 5px !important;

    p {
      text-align: center;
      width: 100%;

      a {
        color: blue;
      }
    }
  }

  #orderCardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 20px;

    #order-details {
      background-color: white;
      border-radius: 20px;
      overflow: hidden;

      #order-details-inner {
        display: flex;
        padding: 10px 10px 0px 10px;
        justify-content: space-between;
        span {
          font-size: 12px;
          letter-spacing: 1px;
        }
        #order-id {
          color: rgb(66, 65, 65);
        }
        #order-status {
          color: rgb(66, 65, 65);
          color: red;
        }
      }
      #btns {
        @include flexMixin(normal);
        gap: 20px;
        font-size: 12px;
        margin-bottom: 20px;

        button {
          padding: 10px 38px;
          color: white;
          font-weight: bolder;
          cursor: pointer;

          &:first-child {
            background-color: #ecb014;
          }

          &:last-child {
            background-color: #332626;
          }
        }
      }

      .write-feedback {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        textarea{
          width: 80%;
          border-radius: 20px;
          padding: 10px;
          
        }
        #second-write-feedback{
          display: flex;
          width: 80%;
          justify-content: start;
          align-items: center;
          gap: 30px;
          div{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            p{
              font-size: 12px;
            }
            .order-rate-antd {
              background-color: #332626;
              padding: 4px 10px;
              border-radius: 5px;
            }
          }
        }
        button{
          background-color: #ecb014;
          color: white;
          padding: 6px 10px;
          letter-spacing: 1px;
          font-weight: bolder;
        }
      }

      #order-summary {
        display: flex;
        gap: 10px;
        justify-content: end;
        table {
          tr {
            td {
              padding-right: 15px;
              font-size: 13px;
              span {
                font-size: 10px;
                color: red;
              }
            }
          }
        }
      }

      #orders-Collection {
        #orderCards {
          display: flex;
          align-content: center;
          padding: 10px;
          gap: 20px;
          #product-name-pay {
            display: flex;
            justify-content: space-between;
            h3 {
              font-size: 22px;
            }
          }
          #write-feedback{
            background-color: #332626;
            color: white;
            font-weight: bolder;
            padding: 2px 10px;
          }
          img {
            width: 120px;
            // height: 160px;
            cursor: pointer;
            object-fit: cover;
            aspect-ratio: 1;
            border-radius: 10px;
          }
        }
      }
      .track-order {
        margin-top: 10px;
        padding: 10px 30px;
        position: relative;
        margin: auto;
        width: 90%;
        div {
          width: inherit;
          display: flex;
          #Line {
            // width: 50%;
            width: inherit;
            height: 3px;
            position: absolute;
            background-color: black;
            transition: 5s;
          }
          #track-collection {
            width: -webkit-fill-available;
            margin-top: 10px;
            #timeStamp-Order {
              display: flex;
              justify-content: space-around;
              align-items: center;
              flex-direction: column;
              .trackDone {
                background: red !important;
              }
              #currStage-Order {
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-weight: bolder;
                width: 12px;
                height: 12px;
                font-size: 10px;
                border-radius: 50%;
                background-color: black;
                position: absolute;
                top: 5px;
              }
              h5 {
                text-align: center;
              }
            }
          }
        }
      }
    }
    @media (max-width: 800px) {
      #order-details #orders-Collection #orderCards {
        img {
          width: 96px;
        }
        div {
          #product-name-pay {
            font-size: 14px;
          }
          p {
            font-size: 13px;
          }
        }
      }
    }
  }

  #wishlist {
    margin-top: 20px;

    #WishList-Card {
      @include flexMixin();
      flex-wrap: wrap;
      margin-bottom: 20px;
      gap: 20px;
      background-color: white;
      padding: 15px 30px 15px 15px;
      position: relative;
      border-radius: 10px;

      img {
        width: 120px;
        height: 140px;
        object-fit: cover;
        border-radius: 10px;
      }

      #productDesc {
        // flex: 1;
        // width: 200px;
        width: 72%;
        text-align: justify;
      }

      button {
        position: absolute;
        bottom: 10px;
        right: 20px;
        padding: 5px 20px;
        cursor: pointer;
        font-weight: bolder;
        background-color: #ecb014;
        color: white;

        &:hover {
          background-color: rgba(0, 0, 0, 0.462);
        }
      }

      #IconClose {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 26px;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.297);
        }
      }
    }
  }

  @media (max-width: 800px) {
    margin: 0 12px 100px 12px;
    padding: 10px 20px;

    #order-wishlists {
      font-size: 12px;

      h3 {
        width: 120px;
      }
    }

    .userNotLogin p {
      font-size: 12px !important;
    }

    #wishlist {
      #WishList-Card {
        gap: 15px;

        img {
          width: 100px;
          height: 120px;
          // aspect-ratio: 1;
          // object-fit: cover;
        }

        #productDesc {
          h2 {
            font-size: 14px;
          }

          p {
            font-size: 12px;
          }
        }
      }

      h1 {
        font-size: 20px;
        width: 98%;
        text-align: left;
      }
    }
  }

  @media (max-width: 520px) {
    #wishlist {
      #WishList-Card {
        #productDesc {
          width: 100%;

          h2 {
            font-size: 16px;
          }

          p {
            width: 100%;
            font-size: 13px;
          }
        }
      }

      h1 {
        font-size: 22px;
        width: 98%;
        text-align: left;
      }
    }
  }
}

#scooterIMG {
  position: fixed;
  bottom: 10px;
  left: 20px;
  width: 80px;
  animation-name: scooterAnimation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes scooterAnimation {
  from {
    left: 90vw;
  }

  to {
    left: -80px;
  }
}
