@use "../abstracts" as *;

html{
  min-height: 100vh;
}

body {
  // font-family: $ff-sans;
  // background-color: var(--background-primary);
  background: $backgroundPrimary;
  background-color: #1e1e1e;
  color: var(--text-primary);
}

.Toastify__toast-container--bottom-right{
  z-index: 9999999;
}
